@import '../../styles/var.less';

@search-padding: 8px 16px;
@search-background-color: var(--nc-12);
@search-content-background-color: var(--nc-10);
@search-input-height: 36px;
@search-label-padding: 0 5 * @hd;
@search-label-color: var(--rv-text-color);
@search-label-font-size: var(--rv-font-size-md);
@search-left-icon-color: var(--rv-gray-6);
@search-action-padding: 0 var(--rv-padding-xs);
@search-action-text-color: var(--rv-text-color);
@search-action-font-size: var(--rv-font-size-md);
